logs
demand.txt
sync.ffs_db

# Python packaging / build artifacts (created by `pip install -e .`, etc.)
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments, in case one gets created inside the repo
.venv/
venv/
